<h1 class="space text2"> About</h1>
<p class="text" > Here is some filler text. Im gonna be reall cool.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend, ante vel consectetur tristique, libero urna luctus arcu, vel volutpat nunc dui a augue. Aenean et mattis ex. Nulla feugiat nisi urna, ac mattis urna faucibus vel. In dignissim pharetra est in iaculis. Mauris ullamcorper elementum velit in ullamcorper. Curabitur auctor diam a quam pellentesque aliquam. Duis gravida ullamcorper justo ultrices rhoncus. Cras vitae justo condimentum, auctor lectus sed, cursus ligula. Curabitur in massa dolor. Sed vitae malesuada nisi, a lacinia lorem. Donec maximus mattis metus a tristique. Donec vel metus eget lorem feugiat fermentum pharetra at massa. Vestibulum accumsan mauris vitae dignissim porta. Sed rhoncus auctor nulla, id mattis ex porttitor nec. Pellentesque et luctus tellus. Aliquam pharetra lorem mi, ut egestas nunc cursus ullamcorper.

    Quisque mi ligula, blandit et sapien vitae, lobortis blandit turpis. Sed suscipit ante tellus, id aliquet eros mollis vitae. Nam quis commodo nunc, egestas dictum lectus. Quisque ut nunc venenatis sem aliquet luctus. Aliquam erat volutpat. Ut suscipit velit id elit hendrerit congue. Quisque sem nisl, mollis a elementum eu, tristique vitae nunc. Aenean viverra est dolor, sed bibendum dui posuere eget. Sed non mi aliquet, interdum justo blandit, congue metus. Maecenas commodo fringilla vestibulum. Vivamus quis bibendum risus, ultrices tristique sem. Aenean condimentum sit amet nunc vel pulvinar. Praesent egestas ex tincidunt nisi bibendum accumsan.
    
     </p>
<h2 class="text1"> KNOWN TECHNOLOGY</h2>
<ul class="text">
<li>  Html</li>
<li>JavaScript</li>
<li>C#</li>
<li>Angular</li>
</ul>