@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,700;1,500&display=swap');

* UTILITIES */ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

p {
  text-decoration: none;
  padding-top:35px;
}

li:hover {
  background-color: #76b0d5;
  border-radius: 5px;
  border: 2px solid #76b0d5;
  transition: 0.3s ease;
}


li {
  list-style: none;
  background-color: #5d99be;
  border-radius: 5px;
  border: 2px solid #5d99be;
  padding: 5px;
  height: 70px;
}

.space {
  margin-right: 100px;
}
.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #457b9d;
  color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  height: 2%;
  width: 100%;
  filter: drop-shadow(-2px 2px 2px #000000);
}

.nav-links p {
  color: #fff;
}

.logo {
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin: 20px;
  margin-bottom: 5px;
  
}